li {
    list-style: none;
}

.red {
    color: red;
}

.img-container {
    width: 100%;
    aspect-ratio: 1 / 1; 
    overflow: hidden;    
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



